@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
  background: url('/images/osman-rana-HOtPD7Z_74s-unsplash.jpg') center center fixed;
  -webkit-background-size:cover ;
  -moz-background-size:cover ;
  -o-background-size:cover ;
  -ms-background-size:cover ;
  background-size: cover;
}
/* .degree::after{
  content: '\00b0';
} */

